llmtuner==0.7.1
networkx==3.2.1
nltk==3.9.1
numpy==2.2.5
openai==0.28.0
pandas==2.2.3
peft==0.13.2
ptvsd==4.3.2
pyodbc==4.0.34
pyserini==0.21.0
rank_bm25==0.2.2
regex==2024.4.16
rouge==1.0.1
simcse==0.4
spacy==3.7.4
SPARQLWrapper==1.8.5
SPARQLWrapper==2.0.0
torch==2.1.2
tqdm==4.66.6
transformers==4.38.2
